  /* style.css */
 
    body {
    
    }
    </ninamuccia>

    @font-face {
    font-family: 'Sporting Grotesque_Regular';
    src: url('fonts/Sporting_Grotesque-Regular_web.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
    font-family: 'happy-times-at-the-ikob-webfont.woff';
    src: url('fonts/happy-times-at-the-ikob-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
    font-family: 'Basel-Book.woff';
    src: url('fonts/Basel-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
    font-family: 'TimesNewBastard-RegularWeb.woff2';
    src: url('fonts/TimesNewBastard-RegularWeb.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    }



    body {background-color: #B8E986;}
    
    h1 {
    font-family: 'TimesNewBastard-RegularWeb.woff2'; 
    color:   #000000;
    font-size: 50px;
    padding-left: 10px;
    }

    p {
    font-family: 'TimesNewBastard-RegularWeb.woff2'; 
    color:   #000000;
    font-size: 100px;
    padding-left: 10px;

    }

    h2 {
    font-family: 'TimesNewBastard-RegularWeb.woff2'; 
    color:   #000000;
    font-size: 100px;
    padding-left: 10px;
   
    }


    h3 {
    font-family: 'TimesNewBastard-RegularWeb.woff2'; 
    color:   #000000;
    font-size: 100px;
    padding-left: 10px;
    }


    IMG.displayed {
    display: block;
    position: static;
    padding-left: 350px;
 
    }

        /* unvisited link */
a:link {
    color: #000000;
}

/* visited link */
a:visited {
    color: #yellow;
}

/* mouse over link */
a:hover {
    color: #yellow;
}

/* selected link */
a:active {
    color: #yellow;
}

a:link {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: underline;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}
