/*
- - - - - - - - - - - -
- - - - - - - - - - - -
Font links
- - - - - - - - - - - -
- - - - - - - - - - - -
*/


@font-face {
    font-family: 'BAG';
    src: url('fonts/AkzidenzGroteskBE-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



/*
- - - - - - - - - - - -
- - - - - - - - - - - -
Break Points
- - - - - - - - - - - -
- - - - - - - - - - - -
*/

@media (max-width: 480px) { 
	
	.sidebar {
		display: none;
	}

  .name {
    display: none;
  }

  .mobile-contact {
		display: inline-block;
	}

  .m2 {
    display: inline-block;
  }
	
 }

@media (min-width: 481px) {
	.mobile-contact {
		display: none;
	}
}

/*@media (min-width: 681px) { 
	 This is your desktop style

 }*/

/* 
.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none;z-index:2;  }
.hover_img a:hover span { display:block; z-index:2;}
 */


/*
- - - - - - - - - - - -
- - - - - - - - - - - -
Padding Styles
- - - - - - - - - - - -
- - - - - - - - - - - -
*/

.top-padding {
  padding-top: 50px;
}

.top-padding-medium {
  padding-top: 40px;
}

.top-padding-small {
  padding-top: 20px;
}

.top-padding-smaller {
  padding-top: 0px;
}




/*
- - - - - - - - - - - -
- - - - - - - - - - - -
Link Styles
- - - - - - - - - - - -
- - - - - - - - - - - -
*/

a {
  cursor: pointer;
  margin: 0 0 20px 0; 
  font-family: 'BAG', Helvetica, sans-serif; 
  font-size: 15px;
  font-weight: normal;
  text-decoration: none;
  letter-spacing: .5px; 
}

/* unvisited link */
a.hi-there:link {
    color: blue;
}

/* visited link */
a.hi-there:visited {
    color: blue;
}

/* mouse over link */
a.hi-there:hover {
    color: blue;
}

/* selected link */
a.hi-there:active {
    color: blue;
}





element {
  --dynablur: 1vw;
}


#hi {
  z-index: 99;
}

.m2{
   font-family: 'BAG', Helvetica, sans-serif; 
   font-size: 15px;
   position: relative;
   left: 20px;
   font-weight:;
   text-decoration: ;
   letter-spacing: .5px; 
   color: #0000EE; 
   z-index: 0;
}

.rando {
   position: absolute;
   top: 600px;
   width: 100px;
   left: 700px;
   z-index: 99;
   width: 50%;
/*  opacity: 0;
  transition: all 3s ease;*/
}

.rando img {
  width: 40%;
  filter: blur(0px);
}

.span {
display:block;
}


.head1 { 
   font-family: 'BAG', Helvetica, sans-serif; 
   font-size: 40px;
   font-weight:;
   text-decoration: underline;
   letter-spacing: .5px; 
   color: #000000; 
   color:;
   position: relative;
   top: 60px;
   left: 40px;
   z-index: 1;
  }

  .newpage {
   font-family: 'BAG,' Helvetica, sans-serif;
   font-size: 15px;
   padding-top: 10px;
   padding-left: 10px;
  }
   
  .active {
    display: none;
  }

/*.head2 { 
   font-family: 'BAG', Helvetica, sans-serif; 

   z-index: 1;


   font-size: 40px;
   font-weight:;
   text-decoration: underline;
   letter-spacing: .5px; 
   color: #000000; 

  }*/
  
.sidebar {
   position: absolute;
   right: 60px;
   top: 10px;
   width: 200px;
}

.subhead { 
   font-family: 'BAG'. Helvetica, sans-serif; 
   font-size: 20px;
   font-weight:;
   text-decoration: ;
   letter-spacing: .5px; 
   color: #000000; 
   position: relative;
   top: 60px;
   left: 40px;
   z-index: 1;
   padding-bottom:40px;
  }
  
.sub { 
   font-family: 'BAG', Helvetica, sans-serif; 
   font-size: 20px;
   font-weight:;
   text-decoration: ;
   letter-spacing: .5px; 
   color: #0000EE; 
   position: relative;
   top: 60px;
   left: 40px;
   z-index: 1;
   padding-bottom:40px;
  }
  
.subright { 
   font-family: 'BAG', Helvetica, sans-serif; 
   font-size: 20px;
   position: absolute;
   right: 60px;
   font-weight:;
   text-decoration: ;
   letter-spacing: .5px; 
   color: #0000EE; 
   z-index: 1;
   padding-top:100px;
   padding-bottom: 40px;
  }

.name {
   font-family: 'BAG', Helvetica, sans-serif; 
   font-size: 15px;
   position: absolute;
   right: -20px;
   font-weight:;
   text-decoration: ;
   letter-spacing: .5px; 
   color: #0000EE; 
   z-index: 0;
   padding-top: 5px;
   width: 200px;
  }

.name ul {

  margin-top: 55px;
}

.name li {
  padding-bottom: 10px;

}

  
#container {
 width:100%;
 text-align:center;
}
    
.hidden {
    display:none;
}

.unhidden {
    display:block;
    font-family: 'BAG', Helvetica, sans-serif; 
    font-size: 15px;
    color: #0000EE;

}


h2 {
font-family: 'BAG', Helvetica, sans-serif; 
   font-size: 15px;
   font-weight: normal;
   text-decoration: none ;
   letter-spacing: .5px; 

}


p {
position: relative; 
}
		
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
	
li {
margin: 0 0 20px 0; 
font-family: 'BAG', Helvetica, sans-serif; 
   font-size: 15px;
   font-weight: normal;
   text-decoration: none;
   letter-spacing: .5px; 
}	


	
.br {
position: absolute;
bottom: 0;
right: 10px;
}

/* 
  #items{
  overflow-x: scroll;
  width: auto;
      white-space: nowrap;
  }
 */
  .item{
     display: inline-block;
     width: 1000px;
     height: auto;
  }

img {
    display: block;
    margin: auto;
    width: 40%;
}
	

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: sticky;
    bottom: 0;
    background-color: darkgrey;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
    overflow-y: scroll;
}

/* The Close Button */
.close {
    color: #0000EE;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #0000EE;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: darkgrey;
    color: black;
}

.modal-body {
overflow-y: scroll;
padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: darkgrey;
    color: #0000EE;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}


